In [1]:
import pandas as pd
import re
#from unidecode import unidecode

In [ ]:
!pip install unidecode

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: unidecode in /usr/local/lib/python3.7/dist-packages (1.3.6)

In [2]:
df = pd.read_csv('/content/train_preprocess.tsv',sep='\t',names=['Komentar', 'Kategori'], encoding='latin1')

In [3]:
df.head()

                                            Komentar  Kategori
0  warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1  mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2  lokasi strategis di jalan sumatera bandung . t...  positive
3  betapa bahagia nya diri ini saat unboxing pake...  positive
4  duh . jadi mahasiswa jangan sombong dong . kas...  negative

In [4]:
df.shape

(11000, 2)

In [6]:
df_clean_duplicates = df.drop_duplicates()

In [7]:
df_clean_duplicates.shape

(10933, 2)

In [8]:
df_clean_duplicates['Kategori'].value_counts()

positive    6383
negative    3412
neutral     1138
Name: Kategori, dtype: int64

In [9]:
df_clean_tb = df_clean_duplicates.copy()

In [10]:
df_clean_tb

                                                Komentar  Kategori
0      warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1      mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2      lokasi strategis di jalan sumatera bandung . t...  positive
3      betapa bahagia nya diri ini saat unboxing pake...  positive
4      duh . jadi mahasiswa jangan sombong dong . kas...  negative
...                                                  ...       ...
10993  f - demokrat dorong upaya kemandirian energi n...   neutral
10994                                        tidak bosan  positive
10996  enak rasa masakan nya apalagi kepiting yang me...  positive
10998  pagi pagi di tol pasteur sudah macet parah , b...  negative
10999  meskipun sering belanja ke yogya di riau junct...  positive

[10933 rows x 2 columns]

In [11]:

df_clean_tb['Komentar'] = df_clean_tb['Komentar'].str.strip()
df_clean_tb['Komentar'] = df_clean_tb['Komentar'].replace(r'([A-Z]+)\s(\d+)', r'\1\2', regex=True)
df_clean_tb['Komentar'] = df_clean_tb['Komentar'].str.replace(r'\\x[A-Za-z0-9./:)(*&^%$#@!_;]+', '')
df_clean_tb['Komentar'] = df_clean_tb['Komentar'].str.replace(r'[^\w\d\s]+', '')
df_clean_tb['Komentar'] = df_clean_tb['Komentar'].str.lower()
df_clean_tb['Komentar'] = df_clean_tb['Komentar'].str.replace(r'user', '')
df_clean_tb['Komentar'] = df_clean_tb['Komentar'].str.replace(r'_', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [12]:
df_clean_tb['Komentar']

0        warung ini dimiliki oleh pengusaha pabrik tahu...
1        mohon ulama lurus dan k212 mmbri hujjah partai...
2        lokasi strategis di jalan sumatera bandung  te...
3        betapa bahagia nya diri ini saat unboxing pake...
4        duh  jadi mahasiswa jangan sombong dong  kasih...
                               ...
10993    f  demokrat dorong upaya kemandirian energi na...
10994                                          tidak bosan
10996    enak rasa masakan nya apalagi kepiting yang me...
10998    pagi pagi di tol pasteur sudah macet parah  bi...
10999    meskipun sering belanja ke yogya di riau junct...
Name: Komentar, Length: 10933, dtype: object

In [13]:
df_clean_tb

                                                Komentar  Kategori
0      warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1      mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2      lokasi strategis di jalan sumatera bandung  te...  positive
3      betapa bahagia nya diri ini saat unboxing pake...  positive
4      duh  jadi mahasiswa jangan sombong dong  kasih...  negative
...                                                  ...       ...
10993  f  demokrat dorong upaya kemandirian energi na...   neutral
10994                                        tidak bosan  positive
10996  enak rasa masakan nya apalagi kepiting yang me...  positive
10998  pagi pagi di tol pasteur sudah macet parah  bi...  negative
10999  meskipun sering belanja ke yogya di riau junct...  positive

[10933 rows x 2 columns]

In [14]:
df_after_clean = df_clean_tb.reset_index()

In [16]:
df_after_clean

       index                                           Komentar  Kategori
0          0  warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1          1  mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2          2  lokasi strategis di jalan sumatera bandung  te...  positive
3          3  betapa bahagia nya diri ini saat unboxing pake...  positive
4          4  duh  jadi mahasiswa jangan sombong dong  kasih...  negative
...      ...                                                ...       ...
10928  10993  f  demokrat dorong upaya kemandirian energi na...   neutral
10929  10994                                        tidak bosan  positive
10930  10996  enak rasa masakan nya apalagi kepiting yang me...  positive
10931  10998  pagi pagi di tol pasteur sudah macet parah  bi...  negative
10932  10999  meskipun sering belanja ke yogya di riau junct...  positive

[10933 rows x 3 columns]

In [17]:
df_simpan_csv = df_after_clean.to_csv('/content/train_preprocess1.csv')

In [ ]:
df_after_clean['index']

0            0
1            1
2            2
3            3
4            4
         ...
10928    10993
10929    10994
10930    10996
10931    10998
10932    10999
Name: index, Length: 10933, dtype: int64

In [39]:
df_after_clean

                                                   Tweet  Sentimen
0      warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1      mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2      lokasi strategis di jalan sumatera bandung  te...  positive
3      betapa bahagia nya diri ini saat unboxing pake...  positive
4      duh  jadi mahasiswa jangan sombong dong  kasih...  negative
...                                                  ...       ...
10928  f  demokrat dorong upaya kemandirian energi na...   neutral
10929                                        tidak bosan  positive
10930  enak rasa masakan nya apalagi kepiting yang me...  positive
10931  pagi pagi di tol pasteur sudah macet parah  bi...  negative
10932  meskipun sering belanja ke yogya di riau junct...  positive

[10933 rows x 2 columns]

In [36]:
#df_after_clean.drop('index', axis=1, inplace=True)

In [38]:
df_after_clean.columns = ['Tweet', 'Sentimen']

In [18]:
load_data = pd.read_csv('/content/sentimen.tsv',sep='\t', encoding='latin1')

In [19]:
load_data.head()

   sentimen                                              Tweet
0        -1  lagu bosan apa yang aku save ni huhuhuhuhuhuhu...
1        -1  kita lanjutkan saja diam ini hingga kau dan ak...
2         1  doa rezeki tak putus inna haa zaa larizquna ma...
3         1  makasih loh ntar kita bagi hasil aku 99 9 sisa...
4        -1  aku tak faham betul jenis orang malaysia yang ...

In [22]:
load_data.shape

(10806, 2)

In [20]:
hilangkan_positive = load_data[load_data['sentimen'] < 1]

In [21]:
hilangkan_positive

       sentimen                                              Tweet
0            -1  lagu bosan apa yang aku save ni huhuhuhuhuhuhu...
1            -1  kita lanjutkan saja diam ini hingga kau dan ak...
4            -1  aku tak faham betul jenis orang malaysia yang ...
5             0  barusan liat tulisan di belakang truk rela inj...
6            -1  cerita dia macam ni mamat ni hari2 aku nampak ...
...         ...                                                ...
10797         0  Jadi kita harus mkn dulu di KFC sebesar 60 rib...
10798         0  Tante kapan nikah Akun RP panggil calon istri ...
10799        -1  Pelik tengok orang zaman sekarang ni dulu kema...
10800         0  Menikah itu belum tentu harus sudah pernah pac...
10802         0                      Sini uname lu ntar gua follow

[8214 rows x 2 columns]

In [23]:
hilangkan_positive['sentimen'].value_counts()

 0    5327
-1    2887
Name: sentimen, dtype: int64

In [26]:
hapus_duplikat = hilangkan_positive.drop_duplicates()

In [27]:
hapus_duplikat['sentimen'].value_counts()

 0    5084
-1    2691
Name: sentimen, dtype: int64

In [28]:
import numpy as np

In [29]:
hapus_duplikat['Kategori'] = np.where(hapus_duplikat['sentimen']== 0, 'neutral', 'negative')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
hapus_duplikat

                                                   Tweet  Kategori
0      lagu bosan apa yang aku save ni huhuhuhuhuhuhu...  negative
1      kita lanjutkan saja diam ini hingga kau dan ak...  negative
4      aku tak faham betul jenis orang malaysia yang ...  negative
5      barusan liat tulisan di belakang truk rela inj...   neutral
6      cerita dia macam ni mamat ni hari2 aku nampak ...  negative
...                                                  ...       ...
10797  Jadi kita harus mkn dulu di KFC sebesar 60 rib...   neutral
10798  Tante kapan nikah Akun RP panggil calon istri ...   neutral
10799  Pelik tengok orang zaman sekarang ni dulu kema...  negative
10800  Menikah itu belum tentu harus sudah pernah pac...   neutral
10802                      Sini uname lu ntar gua follow   neutral

[7775 rows x 2 columns]

In [31]:
#drop_sentimen = hapus_duplikat.drop('sentimen', axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [40]:
hapus_duplikat.columns = ['Tweet','Sentimen']

In [41]:
hapus_duplikat

                                                   Tweet  Sentimen
0      lagu bosan apa yang aku save ni huhuhuhuhuhuhu...  negative
1      kita lanjutkan saja diam ini hingga kau dan ak...  negative
4      aku tak faham betul jenis orang malaysia yang ...  negative
5      barusan liat tulisan di belakang truk rela inj...   neutral
6      cerita dia macam ni mamat ni hari2 aku nampak ...  negative
...                                                  ...       ...
10797  Jadi kita harus mkn dulu di KFC sebesar 60 rib...   neutral
10798  Tante kapan nikah Akun RP panggil calon istri ...   neutral
10799  Pelik tengok orang zaman sekarang ni dulu kema...  negative
10800  Menikah itu belum tentu harus sudah pernah pac...   neutral
10802                      Sini uname lu ntar gua follow   neutral

[7775 rows x 2 columns]

In [45]:
gabungan_dataset = pd.concat([df_after_clean, hapus_duplikat])

In [46]:
gabungan_dataset.head()

                                               Tweet  Sentimen
0  warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1  mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2  lokasi strategis di jalan sumatera bandung  te...  positive
3  betapa bahagia nya diri ini saat unboxing pake...  positive
4  duh  jadi mahasiswa jangan sombong dong  kasih...  negative

In [48]:
gabungan_dataset.shape

(18708, 2)

In [49]:
copy_gab_dataset = gabungan_dataset.copy()

In [50]:
copy_gab_dataset.head()

                                               Tweet  Sentimen
0  warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1  mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2  lokasi strategis di jalan sumatera bandung  te...  positive
3  betapa bahagia nya diri ini saat unboxing pake...  positive
4  duh  jadi mahasiswa jangan sombong dong  kasih...  negative

In [51]:
copy_gab_dataset['Tweet'] = copy_gab_dataset['Tweet'].str.strip()
copy_gab_dataset['Tweet'] = copy_gab_dataset['Tweet'].replace(r'([A-Z]+)\s(\d+)', r'\1\2', regex=True)
copy_gab_dataset['Tweet'] = copy_gab_dataset['Tweet'].str.replace(r'\\x[A-Za-z0-9./:)(*&^%$#@!_;]+', '')
copy_gab_dataset['Tweet'] = copy_gab_dataset['Tweet'].str.replace(r'[^\w\d\s]+', '')
copy_gab_dataset['Tweet'] = copy_gab_dataset['Tweet'].str.lower()
copy_gab_dataset['Tweet'] = copy_gab_dataset['Tweet'].str.replace(r'user', '')
copy_gab_dataset['Tweet'] = copy_gab_dataset['Tweet'].str.replace(r'_', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [52]:
copy_gab_dataset.to_csv('/content/train_preprocess2.csv')

In [54]:
copy_gab_dataset['Sentimen'].value_counts()

positive    6383
neutral     6222
negative    6103
Name: Sentimen, dtype: int64